In [ ]:
# Answer of Q1

def keyword is used to create a function.

In [8]:
def test1() :
    l = []
    for i in range(1,26) :
        if i % 2 != 0 :
            l.append(i)
    return l
test1()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

In [ ]:
# Answer of Q2
# uses of *args function :

*args is used for passing 'n' number of agruments.
all arguments should in tuple format.

In [10]:
def test2(*args) :
    return args
test2()

()

In [12]:
# demonstrate the uses of *args function :

def test3(*args, a) :
    return args, a

In [14]:
test3(1,2,3,4, a = 5)

((1, 2, 3, 4), 5)

In [ ]:
# uses of **kwargs function :

it is basically used for creating a doct type of data and return the same.

In [18]:
def test4(**kwargs) :
    return kwargs
test4()

{}

In [20]:
# demonstrate the uses of **kwargs function :

test4(a = [1,2,3,4], b = 'rajib', c = 54.23)

{'a': [1, 2, 3, 4], 'b': 'rajib', 'c': 54.23}

In [ ]:
# Answer of Q3

An iterator is an object that collect data, one element at a time. 
Iterators are used to iterate through a sequence of data, such as a list, tuple, or dict.

In [22]:
# Here I use for loop for iteration.

l = [1,2,3,4]
for i in l :
    print(i)

1
2
3
4

In [27]:
# print the first five elements of the given list

l = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
for i in range(5) :
    print(l[i])

2
4
6
8
10

In [ ]:
# Answer of Q4 :

Generator function is basically one type of function that genarate data.
To reduce memory consumption, generator function is used.

Yield keyword is used in generator function because it helps to generate new data continously.

In [3]:
# Example of generator function of yield:

def test4(n) :
    a,b = 0,1
    for i in range(n) :
        yield a
        a,b = b,a + b

In [6]:
test4(10)

In [7]:
for i in test4(10) :
    print(i)

0
1
1
2
3
5
8
13
21
34

In [2]:
# Answer of Q5 :

def gen_prime() :
    num = 2
    while num < 1000 :
        for i in range(2,num) :
            if num % i == 0 :
                break
        else :
            yield num
        num += 1

In [3]:
prime_num = gen_prime()
for i in range(20) :
    print(next(prime_num))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71

In [28]:
# Answer of Q6 :

a, b = 0, 1
counter = 0
while counter < 10 :
    print(a)
    c = a + b
    a = b
    b = c
    counter += 1

0
1
1
2
3
5
8
13
21
34

In [31]:
# Answer of Q7 :

s = 'pwskills'
l = [i for i in s]
print(l)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [1]:
# Answer of Q8.

num = int(input('Enter your number : '))
t = num
v = 0
while t > 0 :
    d = t % 10
    v = v * 10 + d
    t = t // 10
if num == t :
    print(num, 'is a palindrome number')
else :
    print(num, 'is not a palindrome number')

Enter your number :  989

989 is not a palindrome number

In [40]:
# Answer of Q9.

l = [i for i in range(1,101)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [41]:
[i for i in l if i % 2 != 0]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]